.page-wrapper {
    margin: 0 auto;
    text-align: center;
}

.main-product {
    height: 150px;
    margin-bottom: 20px;
}

.related-products-title {
    text-align: left;
    padding-top: 18px;
    padding-bottom: 16px;

    color: #171717;
    font-size: 12px;
    font-family: Roboto;
}

.carousel-wrapper {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.card-wrapper {
    max-width: 130px;
    margin-right: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}


/* === Add button === */

.add-button-font {
    color: #171717;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
}

.add-button {
    width: 90%;
    height: 40px;
    max-width: 400px;
    border: none;
    border-radius: 3px;
    background-color: #ffea00;
}

.add-button:hover {
    background-color: #fff159;
}

.add-button:active {
    background-color: #baab00;
}


/* === Product === */

.product-image-wrapper {
    padding: 10px 5px 0 5px;
}

.product-price-wrapper {
    margin: 12px 0 12px 0;
}

.product-price-bg {
    border-radius: 2px;
    display: inline-block;
    background-color: #ffea00;
}

.product-price {
    padding: 2px 3px 2px 3px;

    color: #171717;
    font-size: 12px;
    font-weight: 500;
    font-family: Roboto;
}

.product-name {
    color: #171717;
    font-size: 8px;
    font-weight: 500;
    font-family: Roboto;
}

.product-description {
    max-width: 80%;
    margin: 0 auto;

    white-space: normal;
    color: #171717;
    font-size: 8px;
    font-weight: 400;
    font-family: Roboto;
}

.reviews-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-of-reviews {
    color: #171717;
    font-size: 10px;
    font-weight: 400;
    font-family: Roboto;
}
