.page-wrapper {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    border: 2px red solid;
}

.main-product {
    height: 150px;
    margin-bottom: 20px;
}

.add-button-font {
    color: #171717;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
}

.add-button {
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #ffea00;
}

.add-button:hover {
    background-color: #fff159;
}

.add-button:active {
    background-color: #baab00;
}

.related-products-title {
    text-align: left;
    padding-top: 18px;
    padding-bottom: 16px;

    color: #171717;
    font-size: 12px;
    font-family: Roboto;
}

.carousel-wrapper {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.card-wrapper {
    margin-right: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.price-bg {
    border-radius: 2px;
    display: inline-block;
    background-color: #ffea00;
}

.price {
    padding: 2px 3px 2px 3px;

    color: #171717;
    font-size: 12px;
    font-weight: 500;
    font-family: Roboto;
}

.name {
    color: #171717;
    font-size: 8px;
    font-weight: 500;
    font-family: Roboto;
}

.description {
    max-width: 80%;
    margin: 0 auto;

    white-space: normal;
    color: #171717;
    font-size: 8px;
    font-weight: 400;
    font-family: Roboto;
}
